.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}
.mb-0{border-left: 30px;}

.pagination button {
    width: 40px;
    height: 40px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    color: rgb(38, 33, 33);
    border-color: #eee;
}

.pagination button.active {
    font-weight: 900;
    border-color: #101010;
    background: #ffe400;
    color: #101010;
}
/* 
.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
   */
  .pagination select {
    margin-right: 20px;
    padding: 8px;
    font-size: 14px;
  }
  
  .MDBPagination {
    display: inline-block;
    border-radius: 4px;
  }
  
  .MDBPaginationItem {
    margin-right: 10px;
  }
  
  .MDBPaginationItem a {
    background-color: #fff;
    color: #333;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .MDBPaginationItem.active a {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  
  .MDBPaginationItem.disabled a {
    color: #ccc;
    pointer-events: none;
    background-color: #fff;
    border-color: #ccc;
  }
  